h1{ color: #111;
 font-family: 'Helvetica Neue', sans-serif; 
 font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


h2{ color: #111; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }


p{ color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

.link {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover, .link:active {
  background-color: green;
  color: white;
}