<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
  <title>about set</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body background="/static/bg.png">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SET - the game</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">play <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/set/board/1">static board, find as many sets as you can</a></li>
          <li><a href="/set/board/2">changing board, find as many sets as you can</a></li>
        </ul>
      </li>
      <li><a href="/about">about SET</a></li>
      <li><a href="/rules">how to play SET</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>about set:</h3>
  <p>Set is a real-time card game designed by Marsha Falco in 1974 and published by Set Enterprises in 1991. The deck consists of 81 cards varying in four features: number (one, two, or three); symbol (diamond, squiggle, oval); shading (solid, striped, or open); and color (red, green, or purple). Each possible combination of features (e.g., a card with three striped green diamonds) appears precisely once in the deck.</p> <br>
  <p>The game evolved out of a coding system that the designer used in her job as a geneticist. Set won American Mensa's Mensa Select award in 1991 and placed 9th in the 1995 Deutscher Spiele Preis.

</p>
</div>

</body>
</html>
