<html>
  <head>
  <title>SET game-board</title>
  </nav>

  <h1>lets play set!</h1>
  <h2>this is the board:</h2> 
  {% if first_run!=True %}
    {% if Set!=True %}
    	<h2>Sorry.. it's not a set, try again!</h2>
    {% else %}
    	<h2>nice!! it's a set!</h2>
    {% endif %}
  {% endif %}
  <form action="/set/board" method="POST">

    <input type="checkbox" name="card1" value="card1"><img src="{{sets[1].photo}}" height="100" width="200">
    <input type="checkbox" name="card2" value="card1"><img src="{{sets[2].photo}}" height="100" width="200">
    <input type="checkbox" name="card3" value="card1"><img src="{{sets[3].photo}}" height="100" width="200">
    <input type="checkbox" name="card4" value="card1"><img src="{{sets[4].photo}}" height="100" width="200"><br>
    <input type="checkbox" name="card5" value="card1"><img src="{{sets[5].photo}}" height="100" width="200">
    <input type="checkbox" name="card6" value="card1"><img src="{{sets[6].photo}}" height="100" width="200">
    <input type="checkbox" name="card7" value="card1"><img src="{{sets[7].photo}}" height="100" width="200">
    <input type="checkbox" name="card8" value="card1"><img src="{{sets[8].photo}}" height="100" width="200"><br>
    <input type="checkbox" name="card9" value="card1"><img src="{{sets[9].photo}}" height="100" width="200">
    <input type="checkbox" name="card10" value="card1"><img src="{{sets[10].photo}}" height="100" width="200">
    <input type="checkbox" name="card11" value="card1"><img src="{{sets[11].photo}}" height="100" width="200">
    <input type="checkbox" name="card12" value="card1"><img src="{{sets[12].photo}}" height="100" width="200"><br>

    <input type="submit" value="think those three are a set? click here">
  </form>
</body>
</html>